h1{
	font-size:30px;
	margin-bottom:5%;
}
h2{
	font-size:20px;
}
h3{
	margin: 2.5%;
}
#plan{
	margin: 5% 0% 0% 40%;
}

#planHeader ,#planfooter{
	
	margin:2.5% 0% 0% 2.5%;
}
.mainmenu-area{
	margin-bottom: 20%;
}
